/* style.css */
body {
  background-color: #49306e;
  min-height: 100vh;          /* Full viewport height */
  display: flex;               /* Enable Flexbox */
  align-items: center;         /* Vertical centering */
  justify-content: center;     /* Horizontal centering */
  margin: 0;                   /* Remove default body margin */
}

.content-box {
  background-color: #febd11;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  margin: 50px 30px 10px 30px; /* Top Right Bottom Left */
}
